.hero-section{
  margin-top: 12em;
  height: 1100px;
}
.title {
  font-style: bold;
  font-weight: 700;
  font-family: "Climate Crisis", cursive;
  font-family: "Josefin Sans", sans-serif;
  font-size: 100px;
  line-height: 97px;

  color: #ffffff;
  padding: 15% 5% 5%;
}

.subtitle {
  font-family: "Climate Crisis", cursive;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 36.31px;
  padding: 2% 5% 0%;
  width: fit-content;
  text-align: left;
  margin-top: -20px;
}

.subtitle2 {
  font-family: "Climate Crisis", cursive;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 36.31px;
  padding: 1% 5% 0%;
  width: fit-content;
  text-align: left;
}

.home_image {
  transform: translateY(-22em);
  scale:calc(0.5);
}
